* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
} */

:root {
  --content-width: 45rem;

  --font-color1: hsla(0, 0%, 100%, 0.75);
  --font-color2: hsl(0, 0%, 95%);
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  background-color: #f2f2f2;

  font-family: "Lexend Deca", sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 15px;
}

.card {
  min-width: 330px;
  max-width: 17%;
  min-height: 550px;
  max-height: 60%;
  background-color: red;

  padding: 45px 70px 45px 45px;
}

.card:first-of-type {
  border-radius: 10px 0 0 10px;
}

.card:last-of-type {
  border-radius: 0 10px 10px 0;
}

.gold {
  background-color: hsl(31, 77%, 52%);
  color: hsl(31, 77%, 52%);
}

.cyan {
  background-color: hsl(184, 100%, 22%);
  color: hsl(184, 100%, 22%);
}

.green {
  background-color: hsl(179, 100%, 13%);
  color: hsl(179, 100%, 13%);
}

.card-title {
  font-family: "Big Shoulders", sans-serif;
  text-transform: uppercase;
  font-weight: 700;

  color: var(--font-color2);

  font-size: 3em;

  margin: 40px 0;
}

.card-text {
  line-height: 1.7;
  margin: 40px 0 80px 0;
  color: var(--font-color1);
  font-weight: 400;
}

.btn {
  width: 65%;
  background-color: var(--font-color2);
  border: none;
  border-radius: 30px;
  height: 4.5rem;
  color: inherit;
  font-weight: 700;

  margin-bottom: 30px;

  transition: transform 0.2s linear;
}

.btn:hover {
  cursor: pointer;
  transform: scale(1.2);
}

@media screen and (max-width: 990px) {
  body {
    flex-wrap: wrap;
    align-content: center;
  }

  .card:nth-of-type(2) {
    border-radius: 0 10px 10px 0;
  }

  .card:last-of-type {
    border-radius: 0 0 10px 10px;
  }
}

@media screen and (max-width: 700px) {
  .card {
    margin: 0 10px;
  }

  .card:first-of-type {
    border-radius: 10px 10px 0 0;
  }
  .card:nth-of-type(2) {
    border-radius: 0;
  }
}
